@import "tailwindcss";

@theme {
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-cyan-400: #22d3ee;
  --color-cyan-500: #06b6d4;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-rose-400: #fb7185;
  --color-rose-500: #f43f5e;

  --animate-fade-in: fade-in 0.5s ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}